<div class="row content">
  <div class="col-xs-12 col-12 col-md-12 col-lg-12">
    <tabset>
      <tab>
        <ng-template tabHeading>
          <i><b>Books List</b></i>
        </ng-template>
        <div class="row" *ngIf="bookdata.length > 0">
          <app-books-component *ngFor="let item of filterbook(bookdata, false)" [Inputdata]="item" (Update)="updatingBook($event)" class="col-xs-3 col-3 col-md-3 col-lg-3"></app-books-component>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <i><b>Books Wishlist</b></i>
        </ng-template>
        <div class="row" *ngIf="bookdata.length > 0">
          <app-books-component *ngFor="let item of filterbook(bookdata, true)" [Inputdata]="item" (Update)="updatingBook($event)" class="col-xs-3 col-3 col-md-3 col-lg-3"></app-books-component>
        </div>
      </tab>
    </tabset>
  </div>
</div>